# Cơ bản
requests
python-jose
loguru
aiofiles
celery>=5.3
redis>=5.0
minio
ffmpeg-python

# Database & env
sqlalchemy>=2.0
psycopg2-binary>=2.9
python-dotenv>=1.0

# Security & password
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# Web framework
fastapi>=0.104.0
uvicorn[standard]>=0.23.0
pydantic>=2.0
pydantic-settings>=1.0
python-multipart
